.wrapper {
  padding-top: 130px;
}

.contenido {
  padding: 10px;
  border-radius: 10px;
  /*background-color: #88E2BF;*/
  background-color: #dddddd;
  min-height: calc(100vh - 170px);
}

.contenido-principal {
  width: 75%; /* menu lateral abierto por defecto */
  flex: 0 0 auto;
  transition: all 0.2s;
}
.contenido-extendido {
  width: 100%!important;
}

.menu-lateral {
  transition: all 0.2s;
}
.menu-lateral-extendido {
  width: 0px!important;
  flex: none;
  border: none;
  padding: 0;
}
.menu-lateral-extendido > * {
  display: none;
}