.wrapper {
  padding-top: 130px;
  padding-bottom: 50px;
}
.contenedor-padre {
  padding: 0 12px 0 0;
}
.contenido {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #EDC664;
  min-height: calc(100vh - 170px);
}

.contenido-principal {
  flex: 1;
  transition: all 0.2s;
}
.menu-lateral {
  transition: all 0.2s;
}
.menu-lateral-contraido {
  width: 150px!important;
}

@media (max-width: 1250px) {
  .menu-lateral {
    width: 150px!important;
  }
}

