<div class="container-fluid ">
  <div class="aside bg-custom-medium">
    <div [ngClass]="service.isOpen != true ? 'aside-head' : 'closed-aside-head'">
      <img
        class="aside-head-img"
        src="/assets/iconos/Logo-Contabilidad.png"
        alt="Contabilidad"
      />
      <h3>{{titulo | uppercase}}</h3>
    </div>
    <div class="aside-options">
      <ng-container *ngFor="let menu of menus">
        <a [routerLink]="menu.ruta" type="button" class="btn btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
        [ngClass]="[menu.titulo == tituloS ? 'btn-opt' : '']">

          <div
            class="bg-custom-soft"
            (click)="tituloS = menu.titulo"
            [ngClass]="[service.isOpen != true ? 'aside-opt' : 'closed-aside-opt']"
            bTooltip title="{{menu.titulo}}"
          >
            <img [src]="menu.Logo" alt="{{menu.titulo}}" />
            <h3>{{ menu.titulo }}</h3>
            
          </div>

        </a>
      </ng-container>
    </div>
  </div>
</div>
