/* You can add global styles to this file, and also import other style files */

html, body { height: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*html {
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray; /* IE6-9 *
  filter: grayscale(100%);
}*/